* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width: 80%;
   margin: 0 auto;
   background-color: #f1f1f1;
}

header {
   text-align: center;
}

.spacer {
   margin: 20px 0;
}

.line {
   margin: 10px auto;
   width: 97%;
   border-bottom: solid 1px gray;
}

.box {
   background-color: #fdfdfd;
   border: solid 1px black;
   padding: 3px 0;
}

.box-title {
   font-size: 18pt;
   font-weight: bold;
}

.cp-item {
   margin: 0 auto;
   width: 97%;
}

.cp-item-title {
   width: 250px;
}

.sm-spacer-bottom {
   margin-bottom: 9px;
}

.ib {
   display: inline-block;
}

.debugField {
   width: 200px;
}

#runRCV {
   width: 50px;
}

#manualBallot {
   width: 300px;
}

@media only screen and (max-width: 1111px) {
   body {
      width: 99.5%;
   }
}

@media only screen and (max-width: 890px) {
   #manualBallot {
      width: 240px;
   }
}

@media only screen and (max-width: 830px) {
   .debugField {
      width: 125px;
   }

   #numRandomCandidates {
      width: 150px;
   }
}